build
irrlicht_newton_game1
.idea
source/newton-dynamics-master/applications
source/newton-dynamics-master/packages/projects
source/newton-dynamics-master/packages/thirdParty
source/newton-dynamics-master/coreLibrary_300/projects
.DS_Store
irrlicht-1.8.3/bin
irrlicht-1.8.3/doc
irrlicht-1.8.3/examples
irrlicht-1.8.3/media
irrlicht-1.8.3/tools
**/_build/
buck-out
*.o
.buckd
