build/
irrlicht_newton_game1
.idea
source/newton-dynamics-master/applications
source/newton-dynamics-master/packages/projects
source/newton-dynamics-master/packages/thirdParty
source/newton-dynamics-master/coreLibrary_300/projects
.DS_Store
vendor/irrlicht/bin
vendor/irrlicht/doc
vendor/irrlicht/examples
vendor/irrlicht/media
vendor/irrlicht/tools
**/_build/
buck-out
*.o
.buckd
irrlicht-newton-game-osx.app
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-irrlicht-newton-game1
*.creator
*.config
*.files
*.includes
*.user
